<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">教师用户</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            
            <li><a href="#">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="查询...">
          </form>
        </div>
      </div>
    </nav>
<div>
  <h1>{{testform1.form.form_name}}</h1>
<div ng-repeat="que in testform1.form.ques track by $index">
<p>题目:<span>{{que.ques_name}}</span><button type="button" ng-click="edit($index)">修改题目</button></p>
 <label>选项：</label> <ol type="A" >
  <li ng-repeat="opt in que.opts  track by $index"><span>{{opt.content}}</span><span ng-if="opt.id==que.is_answer">正确答案</span></li>
</ol>
</div>
<form role="form"  >
  <div >
  <div class="form-group" >
    <label >问题：</label>
    <input type="text" ng-model="testform1.form.ques[id].ques_name"  placeholder="Enter  question">
  </div> 
  <div class="form-group">
    <label>选项：</label>
     <div ng-repeat="opt in testform1.form.ques[id].opts"> 
      <input type="text" ng-model="opt.content" placeholder="Enter choice {{$index+1}} text">
      <input type="radio"  ng-model="testform1.form.ques[id].is_answer"name="{{testform1.form.ques[id]}}" value=" {{opt.id}}">答案
      {{testform1.form.ques[id].is_answer}}{{opt.id}}
        </div>
    </div>   
  <div class="row">
    <div class="col-xs-12">
      <button type="button"  ng-click="addChoice()"> 添加选项</button>
      <button type="button"  ng-click="deleteChoice()"> 删除选项</button>
    </div>

    </div> 
  <div class="row">
    <div class="col-xs-12">
      <button type="button"  ng-click="editQuestion()" ><span ></span> 修改题目</button>
    </div>
  </div>
   </div>
  <p><hr></p>
  
  <div class="row">
    <div class="col-xs-6">
    </div>
    <div class="col-xs-6">
      <button  type="submit" ng-submit="edittest()" >提交</button>
    </div>
  </div>
  
  <p>&nbsp;</p>
</form>
</div>